#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Burp Suite Professional
Exec=/bin/sh "~/scripts/burp.sh"
Icon=~/scripts/BurpSuitePro.png
Categories=Application;
